.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.icon {
  position: absolute;
  top: 10%;
}

.main {
  width: 50%;
  padding: 10px;
}

.heading {
  color: #e4f0ff;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 15px 0px;
}

.subheading {
  color: #b6cbff;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 15px 0px;
}

.mono {
  font-family: monospace;
}

.paragraph {
  color: #e4f0ff;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 15px 0px;
}

.border {
  border: 2px #61ecbc dashed;
  border-radius: 25px;
}
